<!DOCTYPE html>
<html>
    <head>
        <title>Review checker</title>
    </head>

    <body>

        <h1>Data mining based system to check review</h1>
        <!-- {% for item in results %} 
            <h2> {{ item.pred }}</h2>
            <p> model accuracy is {{ item.acc }}</p>
        {% endfor %} -->

        <div>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>

        <p> <h3>{{ results }}</h3></p>
        <p> <h3>{{ prob }}</h3></p>

    </body>
</html>